[Desktop Entry]
Version=1.0
Type=Application
Name=File Library
GenericName=File index
Comment=Browse and search videos, images and documents from several folders
Exec=file-library
Icon=file-library
Terminal=false
Categories=Utility;FileTools;GTK;
Keywords=video;images;documents;files;search;index;library;
StartupNotify=true
